body {
    font-family: "Lato", sans-serif!important;
  }
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thetopflex{
    display: flex!important;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 70px;
    width: 100%;
}
.theflexflex{
    display: flex!important;
    flex-grow: 2!important;
    text-align: center;
    justify-content: space-between!important;
    align-items: center;
    gap: 50px;
    width: 100%;
}
.theflexflex div{
    flex-grow: 1;
    text-align: left;
}
.theflexflex p{
    line-height: 32px;
    font-size: 14px;
    display: block;
    padding-top: 0;
    color: #564443;
    cursor: pointer;
}
.theflexflex select{
    font-size: 14px;
        box-shadow: none;
        border: solid 1px #9A9A9A;
        /* height: 30px; */
        /* line-height: 30px !important; */
        border-radius: 6px;
        padding: 7px;
        padding-right: 0;
        outline: none;
        align-self: center;
        margin-bottom: 16px;
        cursor: pointer;
}
.columnflexProp{
    display: flex;
    flex-direction: column;
}
.controlledNav{
    margin-top: 10px;
}
.controlledNav a{
    padding: 0!important;
    padding-left: 1px!important;
    background-color: #FFFFFF!important;
    -webkit-appearance: none!important;
    appearance: none!important;
    background: transparent!important;
    cursor: pointer;
}
.linedecoration{
    height: 5px;
    background-color:rgb(129, 129, 129, 0.3);
    width: 80.5%;
    margin-bottom: 10px;
    position: relative;
}
.bodytextdecor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mobileHeader{
    display: none;
}
p{
    margin: 0!important;
}
.links{
    display: none;
}
.disappearTxt a{
    color: black;
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .slideInLeft {
    animation: slideInFromLeft 1s ease-out forwards;
  }
  
  .slideInRight {
    animation: slideInFromRight 1s ease-out forwards;
  }
  
  .slideInBottom {
    animation: slideInFromBottom 1s ease-out forwards;
  }
  


@media(max-width: 800px){
    .header{
        /* margin: 2%; */
        width: 98%;
        margin: auto!important;
    }
    .disappearTxt{
        display: none;
    }
    .disappearTxt a{
        color: black;
    }
    .controlledNav{
        display: none;
    }
    .theflexflex{
        gap: 0;
        justify-content: center;
    }

    .linedecoration{
        display: none;
    }
    .mobileHeader{
        /* display: block!important; */
        display: flex;
        justify-content: space-between;
        width: 98%;
        font-size: 13.7px;
    }
    .mobileHeader p{
        /* display: block!important; */
        cursor: pointer;
    }
    .mobile_a{
        text-decoration: none!important;
        cursor: pointer;
        color: black;
    }
    .mobileHeader a{
        text-decoration: none!important;
        cursor: pointer;
        color: black;
    }
    .theflexflex select{
        height: 45px;
        margin-bottom: 0;
        width: 100%;
    }
    .links{
        display: static!important;
    }

    .linksVisibility{
        display: block;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative!important;
        background-color: white;
        font-size: 15px;
        margin-bottom: 0;
        text-align: left;
        width: 100%;
        margin-top: 10px;
       
    }
    .linksVisibility a{
       /* font-size: 50px; */
       border-top: 1.7px solid rgb(179, 207, 209);
       text-align: left!important;
       color: var(--white);
        padding:15px 20px ;
        align-items: center!important;
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        width: 100%;
       
    }
    .linksNotVisibility{
        display: none;
        opacity: 0;
    }
    .linkDiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* gap: 40%; */
        width: 100%;
    }
    .thetopflex{
        display: flex!important;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        /* margin: 20px; */
        /* gap: 5px; */
        width: 98%;
    }
    .thetopflex img{
        height: 60px;
        width: 120px!important;
        /* width: 100%!important; */
    }
}