/* src/App.css */

html{
  scroll-behavior: smooth!important;
}
.App {
  /* font-family: Arial, sans-serif; */
  color: #333;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0 10px;
}
img{
  cursor: pointer;
}
button{
  cursor: pointer;
}
body{
  font-family: "Lato", sans-serif;
  margin: 1.3%;
}
